.card_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 30px;
  gap: 16px;
}

@media screen and (max-width: 600px) {
  .card_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
}

.featured_post_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor:pointer;
  border-radius: 8px;
  border: 1px solid #575757;
}

.featured_post_card > div {
  padding: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.featured_post_card:hover {
  scale: 1.02;
}

.card_body {
  padding: 12px;
}

.card_image {
  object-fit: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}