.content_view {
  max-width: 1250px;
  margin: 0 auto;
  padding: 10px;
  min-height: 86vh;
}

/* Header */
.app_logo {
  /* pointer-events: none; */
  margin-right: 1rem;
  /* padding-left: 4vw; */
  display: flex;
}

.app_header {
  display: flex;
  justify-content: center;
  height: calc(50px + 2vh);

}

.app_header_link {
  display: flex;
  align-items: center;
  min-height: 8vh;
  font-size: calc(8px + 2vmin);
}

/* Footer */
.footer_container {
  text-align: center;
  background-color: #141414;
}

.footer_text {
  margin: 0;
  font-size: calc(8px + 0.5vmin);
  color: #dddddd;
}

.footer_subtitle {
  font-size: calc(6px + 0.5vmin);
  color: #999999;
  margin: 5px 0 0;
}

.datepicker_calendar_wrapper {
  width: 120px;
}